:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*------- приховав Our Features ------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*-----------------------------------*/

/*-------header styles-------*/
.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo span {
  color: var(--iris);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: var(--second-family);
  color: var(--navy-blue);
  text-decoration: none;
  display: inline-block;
}

.nav-list {
  display: flex;
  gap: 40px;

  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  display: block;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--ocean);
}

.nav-list a {
  text-decoration: none;
  color: var(--navy-blue);
}

.contact-address {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  color: var(--slate);
  font-family: var(--font-family);
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-list a {
  text-decoration: none;
  color: var(--slate);
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contact-list a:hover,
.contact-list a:focus {
  color: var(--ocean);
}

/*-------hero styles-------*/

.hero {
  background-color: var(--navy-blue);
  padding: 188px 0;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: var(--font-family);
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  background: var(--iris);
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  margin: auto;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
}

/*-------features styles-------*/

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--navy-blue);
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------team styles-------*/

.team-section {
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background: var(--white);
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.img-team {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-subtitle-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.team-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

/*-------portfolio styles-------*/

.portfolio-section {
  padding: 120px 0;
}

.portfolio-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  background: var(--white);
  max-width: 360px;
}

.img-portfolio {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-subtitle-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding-block: 32px;
  padding-inline: 16px;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/*-------footer styles-------*/
footer {
  background: var(--navy-blue);
  margin-top: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer span {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
